.container {
  padding: 0;
  margin: 0;
}

.main1 {
  padding: 2rem 2rem;
  width: 100vh;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../public/baekground.jpg");
  z-index: 1;
}
.main1::before {
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main1 h1 {
  font-size: 10rem;
  font-weight: 900;
  color: whitesmoke;
  text-align: center;
}
.main1 strong {
  color: rgba(255, 255, 255, 0.5);
}
.main1 h3 {
  font-size: 3rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.main2 {
  padding: 2rem 2rem;
  width: 100vh;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
}
